<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 

<div class="container">

    <div class="left">

        <img src="../../assets/imgs/mee.jpg" width="200">

        <div class="myself" >
            <i class="fa-solid fa-envelope"></i>
            <a href="mailto:boros.zoli024@gmail.com"><p>boros.zoli024@gmail.com</p></a>
                
            <i class="fa-solid fa-mobile"></i>
                <p>+36703671128</p>
            <i class="fa-solid fa-location-dot"></i>
                <p>1108 Hang utca 10, <br>
                 Budapest, Hungary</p>
            <i class="fa-solid fa-calendar-days"></i>
                 <p>14 Aprilis 1998</p>
            <i class="fa-brands fa-twitter"></i>
            <P > <a href="http://https://twitter.com/borosfather"></a>@BorosFather</P> 
            <i class="fa-brands fa-github"></i>
            <p> <a href="https://github.com/borosfather">github.com/BorosFather</a></p> 
    
        </div>

        <div class="spells">
            <h2>Kepessegeim</h2>

            <p>Informatika alapismeretek</p>
            <p>Megbizhato</p>
            <p>A vasarlok tajekoztatasa</p>
            <p>Fejlodo kepesseg</p>
            <p>Jo kommunikacios keszseg</p>
        </div>

        <div class="lang">
            <h2>Nyelv tudas</h2>
            <p>Angol</p>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <p>Magyar</p>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>

        <div class="intre">
            <h2>Erdeklodes</h2>
            <p>3d modellezes</p>
            <p>Videojatekok</p>
            <p>Muveszettortenet</p>
            <p>IT</p>
            <p>Programozas</p>
        </div>


        
    </div>


    <div class="right">

        <h1>Boros Zoltan <br> CV</h1>

    
        <div class="studes">
    
            <h2>Tanulmanyok</h2>
    
            <div class="neu">
            <h4>BMSZC Neumann Janos Informatikai Technikum</h4>
            <p>2012 - 2016</p>
            </div>
    
            
    
            <div class="bzsh">
                <h4>Szoftverfejleszto es tesztelo</h4>
                <p>BZSH Kulkereskedelmi Technikum</p>
                <p>2021 - 2023</p>
                <ul>
                    <li>Java</li>
                    <li>Laravel</li>
                    <li>SQL</li>
                    <li>Angular</li>
                    <li>Python</li>
                </ul>
            </div>
    
            <h2>Munkatapasztalat</h2>
    
            <div class="jobs">
    
                <h4>Szamitogepek epitese es karbantartasa</h4>
                <p>6+ ev</p>
    
                <h4>Elado</h4>
                <p>576 kbyte</p>
    
                <h4>Leltaros</h4>
                <p>Uzsoki korhaz</p>
    
                <h4>Kocsimoso</h4>
                <p>GreenLine autokozmetika</p>
    
                <h4>Raktaros</h4>
                <p>Expess one</p>
    
            </div>
    
    
            <h2>Szemelyes projectek</h2>
            <div class="about">
               
    
                <h4>Fighting game</h4>
                <ul>
                    <li>JavaScrip-ben irtam egy 2d pixel art fighting game-et </li>
                </ul>
                <h4>3D modelek</h4>
                <ul>
                    <li>Folyamatosan keszitek 3d-es modeleket blender-ben</li>
                </ul>
                <h4>Vizsgaremek</h4>
                <ul>
                    <li>Asztali admin alkalmazas a termekek es a felhasznalok kezelesehez Electron hasznalataval </li>
                </ul>
            
            </div>
    
        </div>
    </div>


</div>

<div class="btntext">
    <h2>Letoltes itt</h2>
    <p>it's not a virus</p>

</div>

<button><a href="../../assets/cv/Boross_Resume.pdf" download><i class="fa-solid fa-download" style="color: #ffffff;"></i><b> Download</b></a></button>