<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 


<div class="container">

  <h1>Elden ring</h1><br>

  <div class="videos">
    <iframe width="520" height="415"
    src="https://www.youtube.com/embed/JK7jRcnwa1g?si=CkeVIG7vpvzeob-O">
    </iframe><br>
    <h2>Crucible Knight defeat with parry</h2>
    <p>Crucible Knight-ot egy modon tudtam csak megolni es az a parry</p>
  </div><br><br>

  <div class="videos">
    <iframe width="520" height="415"
    src="https://www.youtube.com/embed/5ZyWQB_y_e4?si=lXoW-8gQiJ_RY06q">
    </iframe><br>
    <h2>Elden ring :Try try try and die die die</h2>
    <p>Nem eleg csak a Crucible Knight hanem kell melle meg egy boss</p>
  </div><br><br>

  <div class="videos">
    <iframe width="520" height="415"
    src="https://www.youtube.com/embed/sVhn1mmkuiY?si=xshNZYVG3v-q-fMt">
    </iframe><br>
    <h2>Èdes a bosszú</h2>
    <p>Amikor kitanultam a parry t</p>
  </div><br><br>

  <div class="videos">
    <iframe width="520" height="415"
    src="https://www.youtube.com/embed/s97_RDZTTdU?si=4ga9UxhhyNjOMIq1">
    </iframe><br>
    <h2>Ronin Vs Blood Ronin</h2>
    <p>Rivers of Blood vegre az enyem!</p>
  </div><br><br>



    <div class="buttons">
        <button routerLink="/videos"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></button>
        <a class="inact" routerLink="/videos">1</a>
        <a routerLink="/videostwo">2</a>
        <a class="inact" routerLink="/pacsivideo">3</a>
        <button routerLink="/pacsivideo"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
      </div>
</div>
