@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    
}

h2 {
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 28px;
    border: 15px solid #b18361;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;

}

.bran {
    background-color: #41210a;
}

.back {
    background-color: black;
}

.whit {

    background-color: white;
}

img {
    width: 60%;
}
.bdown {
    border-bottom: 15px solid #b18361;
}