<h2>Chess</h2>

    <table>
        <tr class="bdown">
            <td class="bran"></td>
            <td class="bran">H</td>
            <td class="bran">G</td>
            <td class="bran">F</td>
            <td class="bran">E</td>
            <td class="bran">D</td>
            <td class="bran">C</td>
            <td class="bran">B</td>
            <td class="bran">A</td>
            <td class="bran"></td>
        </tr>
        <tr><td class="bran"><b>8</b></td>
            <td class="back"><img src="../../assets/imgs/chess/rook_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/knight_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/futo_fekete.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/queen_black.jpg"></td>
            <td class="back"><img src="../../assets/imgs/chess/black_king.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/futo_fekete.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/knight_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/rook_black.png"></td>
            <td class="bran"><b>1</b></td>
        </tr>
        <tr>
            <td class="bran"><b>7</b></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="bran"><b>2</b></td>
        </tr>
        <tr>
            <td class="bran"><b>6</b></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="bran"><b>3</b></td>
        </tr>
        <tr>
            <td class="bran"><b>5</b></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="bran"><b>4</b></td>
        </tr>
        <tr>
            <td class="bran"><b>4</b></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="bran"><b>5</b></td>
        </tr>
        <tr>
            <td class="bran"><b>3</b></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="bran"><b>6</b></td>
        </tr>
        <tr>
            <td class="bran"><b>2</b></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="bran"><b>7</b></td>
        </tr>
        <tr>
            <td class="bran"><b>1</b></td>
            <td class="whit"><img src="../../assets/imgs/chess/rook_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/knight_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/futo_feher.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/white_king.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/queen_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/futo_feher.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/knight_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/rook_white.png"></td>
            <td class="bran"><b>8</b></td>
        </tr>
        <tr>
            <td class="bran"></td>
            <td class="bran"><b>A</b></td>
            <td class="bran"><b>B</b></td>
            <td class="bran"><b>C</b></td>
            <td class="bran"><b>D</b></td>
            <td class="bran"><b>E</b></td>
            <td class="bran"><b>F</b></td>
            <td class="bran"><b>G</b></td>
            <td class="bran"><b>H</b></td>
            <td class="bran"></td>
        </tr>
    </table>


