<h2>Chess</h2>

    <table>
        <tr class="bdown">
            <td class="bran" ></td>
            <td class="bran" id="bdown"><b>A</b></td>
            <td class="bran" id="bdown"><b>B</b></td>
            <td class="bran" id="bdown"><b>C</b></td>
            <td class="bran" id="bdown"><b>D</b></td>
            <td class="bran" id="bdown"><b>E</b></td>
            <td class="bran" id="bdown"><b>F</b></td>
            <td class="bran" id="bdown"><b>G</b></td>
            <td class="bran" id="bdown"><b>H</b></td>
            <td class="bran"></td>
        </tr>
        <tr><td class="bran" id="bright"><b>8</b></td>
            <td class="back"><img src="../../assets/imgs/chess/rook_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/knight_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/futo_fekete.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/queen_black.jpg"></td>
            <td class="back"><img src="../../assets/imgs/chess/black_king.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/futo_fekete.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/knight_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/rook_black.png"></td>
            <td class="bran" id="flip"><b>1</b></td>
        </tr>
        <tr>
            <td class="bran" id="bright"><b>7</b></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_black.png"></td>
            <td class="bran"  id="flip"><b>2</b></td>
        </tr>
        <tr>
            <td class="bran" id="bright"><b>6</b></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="bran"  id="flip"><b>3</b></td>
        </tr>
        <tr>
            <td class="bran" id="bright"><b>5</b></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="bran"  id="flip"><b>4</b></td>
        </tr>
        <tr>
            <td class="bran" id="bright"><b>4</b></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="bran"  id="flip"><b>5</b></td>
        </tr>
        <tr>
            <td class="bran" id="bright"><b>3</b></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="whit"></td>
            <td class="back"></td>
            <td class="bran"  id="flip"><b>6</b></td>
        </tr>
        <tr>
            <td class="bran" id="bright"><b>2</b></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/pawn_white.png"></td>
            <td class="bran" id="flip"><b>7</b></td>
        </tr>
        <tr>
            <td class="bran" id="bright"><b>1</b></td>
            <td class="whit"><img src="../../assets/imgs/chess/rook_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/knight_white.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/futo_feher.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/white_king.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/queen_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/futo_feher.png"></td>
            <td class="whit"><img src="../../assets/imgs/chess/knight_white.png"></td>
            <td class="back"><img src="../../assets/imgs/chess/rook_white.png"></td>
            <td class="bran" id="flip"><b>8</b></td>
        </tr>
        <tr>
            <td class="bran"></td>
            <td class="bran"  id="btop"><b>A</b></td>
            <td class="bran"  id="btop"><b>B</b></td>
            <td class="bran"  id="btop"><b>C</b></td>
            <td class="bran"  id="btop"><b>D</b></td>
            <td class="bran"  id="btop"><b>E</b></td>
            <td class="bran"  id="btop"><b>F</b></td>
            <td class="bran"  id="btop"><b>G</b></td>
            <td class="bran"  id="btop"><b>H</b></td>
            <td class="bran"></td>
        </tr>
    </table>


