@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
}

h2 {
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.studes {
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
   
}

table, th, td {
    border: 1px solid;
}

table th tr {
    width: 150;
    height: 100;
}