@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
}

.container {
    width: 1200px;
    background-color: rgb(36, 50, 177);
    margin: auto;
}

h2 {
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: rgba(37, 35, 35, 0.712);
}

.studes {
    align-items: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
   
}

table, th, td {
    border: 1px solid;
}

table th tr {
    // width: 150;
    // height: 100;
}

th, td {
    // width: 120px;
    // height: 100px;
    text-align: center;
}

.name {
    align-items: center;
    justify-content: center;
}