* {
    margin: auto;
}

body {
    // background: linear-gradient( 45deg, #00ffed, #9d00c6) ;
    background: linear-gradient( 45deg, #2e3192, #1bffff) ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

