@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
}

.container {
    padding: 50px;
    background-color: rgb(25, 34, 90);
    width: 1200px;
    // margin-left: auto;
    // margin-right: auto;
    margin: auto;
    margin-top: 100px;
    // display: flex;
    // flex-direction: row; 
    text-align: center;
}

button {
    // height: 80px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    font-size: larger;
    cursor: pointer;
    background-color: dodgerblue;
    border: none;
    padding: 12px 30px; 
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 10px;
}

.btn {
    cursor: no-drop;
}

a {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.inact {
    text-decoration: none;
}