@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
    
}

.container {
    padding: 50px;
    background-color: rgb(25, 34, 90);
    width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.btn-group button {
    background-color: #043eaa;
    border: none; 
    color: white; 
    padding: 10px 24px; 
    cursor: pointer; 
    float: left;
    width:33.3%;
}
  
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
.btn-group button:not(:last-child) {
    border-right: none; 
}
  
.btn-group button:hover {
    background-color: #3262bb;
}

img {
    transition: transform .2s;
    margin-right: 10px;
}

img:hover {
    transform: scale(2);
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .col {
    text-align: center;
    padding: 20px;
  }
  
  img {
    max-width: 300px;
    height: auto;
  }