@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: aliceblue;
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    // background-color: #212172;
    box-sizing: border-box;
    transform: translate(0%, 15%);
    overflow: hidden;
    z-index: -1;
}

.main {
    width: 400px;
    height: 100%;
    background-color: rgba(58, 58, 58, 255);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 20px 50px;
}

.weekdays {
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 255);
    overflow: hidden;
    z-index: 1;
}

p {
    color: #ccc;
    padding: 0px 15px;
}

hr {
    border-top-width: 0;
    border-bottom-color: #666;
}

.week, .days, .disable {
    width: 30px;
    height: 25px;
    padding: 10px;
    margin: 1.5px;
    text-align: center;
    line-height: 1.5rem;
    border: 1px;
    border: 2px solid transparent;
    background-color: rgba(58, 58, 58, 255);
    float: left;
}

.days:hover {
    border: 2px solid #a8a5a5;
    background-color: #3459eb23;
}

.disable {
    color: #666;
}

.disable:hover {
    color:red;
    background-color: rgba(128, 128, 128, 0.377);
    border: 2px solid #a8a5a5;
}

#movediv {
    position: absolute;
    height: 110px;
    width: 110px;
    background-color: #ffd;
    border-radius: 50%;
    opacity: .3;
    filter: blur(20px);
    z-index: -1;
}
