
<div class="container">
    <h1>Hello there!</h1>
    <p>Ez itt a web beadanbom ahol talalhatsz rolam informacikoat, mivel szeretek foglalkozni es meg sok mast.</p>
    <p>Az elso oldalon talalhato az onelet rajzom amit le is lehet tolteni pdf formatumban.</p>
    <p>Kovetkezo oldalon lathato az egzetemi ora rendem es az ossz kredit szam.</p>
    <p>A calendar a 2022 decemberi honapot mutatja meg.</p>
    <p>Images oldalon lathato a kedven mobil jatekom a staw wars galaxy of heroes es az eddigi blender modelleim</p>
    <p>Videoknal megtalalhatoak az eddig keszult videoim</p>
    <p>Chess oldalon esgy saktabla lathato</p>
</div>
  


