<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> 

<div class="container">

  <h1>Hanzo videok</h1><br>

  <div class="videos">

    <iframe width="520" height="415"
    src="https://www.youtube.com/embed/BacmDt_en28?si=YRYTGGhK0lCTdYZl">
    </iframe><br>
    <h2>alias Hnzo <main></main></h2>
    <p>Elso Hanzo videom</p>
  <br><br>

  
    <iframe width="520" height="415"
    src="https://www.youtube.com/embed/mAO18PJfqVs?si=T38uusbGZIBlRJ3Q">
    </iframe>
    <h2>Hnzo highlight#2 by alias</h2>
    <p>Egyre  tobb es tobb skill mar a masodik videomnal</p>
  <br><br>


  
    <iframe width="520" height="415"
    src="https://www.youtube.com/embed/qbLocPhGgcs?si=aibtXg5_eBaYekzS">
    </iframe>
    <h2>Hanzo highlight#3 by alias</h2>
    <p>Sajnos Hanzo videokbol csak 3 resz lett nyersanyag eltunese miatt</p>
  <br><br>

  </div>

  <div class="buttons">
    <button class="btn"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></button>
    <a routerLink="/videos">1</a>
    <a class="inact" routerLink="/videostwo">2</a>
    <a class="inact" routerLink="/pacsivideo">3</a>
    <button routerLink="/videostwo"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
  </div>
 

</div>
